<%= form_for @pin, html: { multipart: true } do |f| %>
  <% if @pin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pin.errors.count, "error") %> prohibited this Marble from being saved:</h2>

      <ul>
      <% @pin.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :image %>
    <%= f.file_field :image, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_field :description, class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit :"Create Marble", class: "btn btn-warning btn-lg" %>
  </div>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
<style>
   #atc_bar{width:500px;}
   #attach_content{border:1px solid #ccc;padding:10px;margin-top:10px;}
   #atc_images {width:100px;height:120px;overflow:hidden;float:left;}
   #atc_info {width:350px;float:left;height:100px;text-align:left; padding:10px;}
   #atc_title {font-size:14px;display:block;}
   #atc_url {font-size:10px;display:block;}
   #atc_desc {font-size:12px;}
   #atc_total_image_nav{float:left;padding-left:20px}
   #atc_total_images_info{float:left;padding:4px 10px;font-size:12px;}
</style>
<br /><br /><br /><br />
 
<div align="center">
   <h1>Post a Link</h1>
   <div id="atc_bar" align="center">
      Paste Link Here: <input type="text" name="url" size="40" id="url" value="" />
      <input type="button" name="attach" value="Preview" id="attach" />
      <input type="hidden" name="cur_image" id="cur_image" />
      <div id="loader">
 
         <div align="center" id="atc_loading" style="display:none"><img src="load.gif" alt="Loading" /></div>
         <div id="attach_content" style="display:none">
            <div id="atc_images"></div>
            <div id="atc_info">
 
               <label id="atc_title"></label>
               <label id="atc_url"></label>
               <br clear="all" />
               <label id="atc_desc"></label>
               <br clear="all" />
            </div>
            <div id="atc_total_image_nav" >
               <a href="#" id="prev"><img src="prev.png"  alt="Prev" border="0" /></a><a href="#" id="next"><img src="next.png" alt="Next" border="0" /></a>
            </div>
 
            <div id="atc_total_images_info" >
               Showing <span id="cur_image_num">1</span> of <span id="atc_total_images">1</span> images
            </div>
            <br clear="all" />
         </div>
      </div>
      <br clear="all" />
   </div>
</div>

<% end %>
