<div class="well center">
  <h1>Discover Your Selfle.</h1>
</div>

<div id="pins" class="transitions-enabled">
  <% @pins.each do |pin| %>
      <% if pin.user == current_user %>
          <% if pin.image.present? %>
          <div class="box panel panel-default">
              <%= link_to image_tag(pin.image.url(:medium)), pin %>
          <% else %>
            <div class="box panel-footer panel-warning">
              <h3>"<%=pin.description %>"</h3><br>
          <% end %>
          <% if pin.image.present? %>
            <div class="panel-footer">
              <p><%= pin.description %></p>
              <p><%= pin.created_at.strftime("%d %B %Y") %></p>
          <% else %>
            <div class="panel-footer">
              <p><%= pin.created_at.strftime("%d %B %Y") %></p>
          <% end %>
            <div class="panel-footer">
              <%= link_to show_pin_path(pin) do %>
                <span class="glyphicon glyphicon-edit"></span>
                Edit
              <% end %>
                 |
                <%= link_to pin, method: :delete, data: { confirm: 'Are you sure?' }  do %>
                  <span class="glyphicon glyphicon-trash"></span>
                  Delete
                <% end %>
              </div>
          </div>
        </div>
      <% end %>
  <% end %>
</div>
