
    <div class="panel-heading">
  
      <div align="center">
        <h1>Love Your Selfle.</h1>
        <p>

  <%= link_to 'New Marble', new_pin_path, class: "btn btn-warning btn-lg"%>
</p>
      </div>
    </div>

  <table>
    <thead>
      <tr>
        <th>Don't Lose Your Marbles.</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @pins.each do |pin| %>
        <tr>
          <td><%= pin.description %></td>
          <td><%= link_to 'Show', pin %></td>
          <td><%= link_to 'Edit', edit_pin_path(pin) %></td>
          <td><%= link_to 'Destroy', pin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Marble', new_pin_path, class: "btn btn-warning btn-lg"%>

</div>
