<div class="panel-heading">
<div align="center">

  <h1>Discover Your Selfle</h1>
</div>
</div>

<br>

<div id="pins" class="transitions-enabled">
  <% @pins.each do |pin| %>
      <% if pin.user == current_user %>
        <div class="box panel panel-default panel-heading">
          <%= image_tag pin.image.url(:medium) %>
          <div class="panel-body">
            <%= pin.created_at %>
            <%= pin.description %>
            <%= pin.user.email %>
            <%= link_to 'Show', pin %>
            <%= link_to 'Edit', edit_pin_path(pin) %>
            <%= link_to 'Destroy', pin, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        </div>
      <% end %>
  <% end %>
</div>
